body{
    background-image: radial-gradient(circle at 84.24% 1.11%, #effffd 0, #ddfffa 8.33%, #c8fff7 16.67%, #b1fff5 25%, #94fff3 33.33%, #71fdf2 41.67%, #3cf2f2 50%, #00e7f3 58.33%, #00ddf6 66.67%, #00d3fb 75%, #00caff 83.33%, #00c1ff 91.67%, #00b9ff 100%);
}

/*cabecera de la pagina web*/

header{
    background-color: rgb(255, 255, 255);
    margin-top: -7px;
    margin-left: -8px;
}

/* Cuerpo de la cabecera*/
.Cabecera{
    border: 2px solid rgb(255, 255, 255);
    width: 100.8%;
    height: 80px;
}
/* Logo de la pagina*/
.Logo{
    display: flex!important;
    width: 250px;
    height: 75px;
    margin-left: 85px;  
}


/*Boton inicio
/*Div que contiene el boton*/
.Inicio{
    width: 100px;
    height: 60px;
    text-align: center;
    margin-top: -73px;
    margin-left: 800px;
}

/*Estructura del boton inicio*/
.BotonI{
    text-align: center;
    margin-top: 9%;
    font-family: 'Otomanopee One', sans-serif;
    border: 3px solid #00caff;
    height: 75%;
    color: rgba(20, 208, 255, 0.945);
    font-weight: normal bold;
}

/*Busqueda*/
/*Sector de busqueda*/
.busqueda {
    display: flex!important;
    width: 250px;
    height: 35px;
    margin-left: 1200px;
    margin-top: -50px;
}

.barra_busqueda {
    margin-right: .5rem!important;
    border-radius: 2px;
    border: 2px solid #00caff;
}
.btn_buqueda{
    border-color: #00caff;
    background-color: #00caff;
    border-radius: 2px;
}


/*Cuerpo de la pagina*/

/*************************/
/*Parte del video*/
video{
    top: 0;
    left: 0;
    width: 101.1%;
    height: 638px;
    margin-left: -8px;
    object-fit: cover;
}

.capa{
    border: 2px solid black;
    margin-top: 84px;
    height: 88vh;
    width: 98.7vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .30;
}


.Identidad{
    height: 600px;
    background-image: radial-gradient(circle at 84.09% 9.37%, #ff732e 0, #ff5f3b 12.5%, #ff4a44 25%, #fd324a 37.5%, #e6144c 50%, #cd004d 62.5%, #b7004d 75%, #a2004e 87.5%, #90004f 100%);
    border-radius: 5px;
    width: 70%;
    margin-left: -7px;
    margin-top: 50px;
}
.fotop{
    width: 400px;
    height: 400px;
    margin-top: -800px;
    margin-left: 500px;
    border-radius: 5px;
}

.titulo{
    width: 200px;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.dtitulo{
    width: 200px;
    padding-top: -10px;
}

.DiscursoXD{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: -500px;
}

p{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: white;
}